body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, #c46265, #af6f9b, #af729c);
}

h1 {
    margin-bottom: 20px;
    color: white;
}

#button-numOfSquares {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

#button-clearGrid {
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: rgb(49, 10, 10);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#button-rainbowColor {
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(to right, #8a0d11, #27d14c, #0e218a);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#button-redColor {
    padding: 10px 20px;
    font-size: 16px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#button-blackColor {
    padding: 10px 20px;
    font-size: 16px;
    background: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#grid-container {
    width: 480px;
    height: 480px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 2px solid rgb(32, 32, 32);
}

.square {
    border: 1px solid rgb(49, 49, 49);
    background-color: white;
    box-sizing: border-box;
}